* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article {
    height: 100%;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.category {
    font-size: 12px;
}

.title {
    font-size: 18px;
}

.desc {
    font-size: 14px;
    color : #94a0b8;
}

.user-info {
    margin: 12px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info img {
    width: 24px;
    border-radius: 100%;
}

.user-info div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-info p {
    font-size: 12px;
}